.title {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15vw;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  
  &-hello {
    font-size: 1.2rem;
    color: #00d8ff;
    margin: 0px;
    }

  &-name {
    color: #ccd6f6;
    margin: 0px;
    background: 50% 100% / 50% 50% no-repeat
      radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    animation: reveal 3000ms ease-in-out forwards 200ms,
  }

  &-catch {
    color: #8892b0;
    margin: 0 0 1rem 0;
    background: 50% 100% / 50% 50% no-repeat
      radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
  }

  &-intro {
    width: 50%;
    color: #ccd6f6;
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }

  &-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    background-color: transparent;
    border: 1px #00d8ff solid;
    border-radius: 5px;
    transition: 350ms;
    color: #00d8ff;
    font-family: 'Tilt Neon', cursive;
    font-size: 1.1rem;
  }

  &-button:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 242, .1);
  }
}

// EFFECT ON TITLE
@keyframes reveal {
  80%{
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

// -------------- REPONSIVE DESIGN ---------------
@media screen and (max-width: 940px) {
  .title {
    padding: 2rem;
  }
  
  .title-name {
    font-size: 4rem;
  }

  .title-catch {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {

  .title {
    padding-top: 10rem;
    min-height: auto;
    height: auto;
  }
}

@media screen and (max-width: 720px) {

  .title-name {
    font-size: 3rem;
  }

  .title-catch {
    font-size: 1.5rem;
  }

  .title-intro {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {

  .title {
    justify-content: flex-start;
    padding-top: 10rem;
    height: auto;
    min-height: auto;
  }
  
  .title-name {
    font-size: 2.5rem;
  }

  .title-catch {
    font-size: 1.3rem;
  }

  .title-intro {
    width: 80%;
  }
}

@media screen and (max-width: 470px) {

  .title-name {
    font-size: 2rem;
  }

  .title-catch {
    font-size: 1.3rem;
  }

  .title-intro {
    width: 80%;
  }

  .title-intro {
    font-size: 0.9rem;
  }

  @keyframes reveal {
    80%{
      letter-spacing: 2px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
}

@media screen and (max-width: 390px) {

  .title-name {
    font-size: 1.7rem;
  }

  .title-catch {
    font-size: 1rem;
  }

  .title-intro {
    width: 80%;
  }
}